$body-bg: rgb(235, 237, 242);
$button-bg: rgb(38, 97, 193);
$button-color: rgb(231, 235, 243);
$form-bg: rgb(247, 247, 247);
$forgot-color:rgb(1, 70, 181);
$form-border-r: 8px;
$button-font-s: 15px;
$form-font-s-large: 35px;
$form-font-s-normal: 18px;
$input-border-r: 25px;
$button-border-r: 30px;

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $body-bg;
    display: flex;
    justify-content: center;

    form{
        background-color: $form-bg ;
        width: 400px;
        height: 500px;
        margin: {
            bottom: 51px;
            top: 51px;
        }
        border-radius: $form-border-r;
        padding: 40px;
        position: relative;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        p{
            font-size: $form-font-s-normal;
        }

        .signin{
            font: {
                size: $form-font-s-large;
                weight: bold;
            }
            margin-bottom: 10px;
        }

        .text-create-acount{
            position: absolute;
            top: 95px;
            left: 129px;
            color: $button-bg;
        }

        input{
            display: block;
            width: 370px;
            height: 50px;
            border: 0;
            border-radius:$input-border-r ;
            background-color: $body-bg;
            padding-left: 20px;
        }

        .inputEmail{
            margin: {
                top: 25px;
                bottom: 15px;
            }
        }

        .inputPass{
            margin: {
                bottom: 30px;
            }
        }

        :nth-child(6){
            color: $forgot-color;
        }

        button{
            background-color:$button-bg;
            border: 0;
            color: $button-color;
            width: 100px;
            height: 50px;
            border-radius: $button-border-r;
            font-size: $button-font-s;
            position: absolute;
            top: 279px;
            right: 50px;
        }

        div{
            text-align: center;
            margin-top: 20px;
            position: relative;
        }

        .divider{
            display:inline-block;
            font: {
                size: $form-font-s-normal !important;
                weight: normal !important;
            }
        }

        .divider::before{
            content: "";
            width: 175px;
            height: 2px;
            background-color: #aeaeae;
            position: absolute;
            top: 13px;
            right: 225px;
        }
        .divider::after{
            content: "";
            width: 165px;
            height: 2px;
            background-color: #aeaeae;
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }

    .otherChoice{
        width: 370px;
        height: 40px;
        border: 2px solid #aeaeae;
        border-radius: $input-border-r;
    }

    .otherChoice div{
        top: -12px;
        font-weight: bold;
    }

    .fa-google{
        color: red;
    }

    .fa-facebook-f{
        color:$button-bg ;
    }

    i{
        margin-right: 10px;
    }
}

